@import
"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap";

:root {
  --rosa-claro: #feebee;
  --rosa-escuro: #f68597;
  --azul-claro: #bbe4e5;
  --azul-medio: #8fd3d5;
  --azul-escuro: #4bb9ba;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Isso garante que o body ocupe toda a altura da viewport */
  font-size: 100%;
}

body {
  font-family: "Sylvia Angel", sans-serif;
  background-color: var(--azul-claro);
  color: var(--azul-escuro);
  margin: 0;
  padding: 0;
  min-height: 100vh; /* 100% da altura da viewport */
  display: flex;
  flex-direction: column;
}

.container-main {
  flex: 1; /* Isso faz com que o main ocupe todo o espaço restante */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo dentro do main */
  margin-top: 75px; /*Margem para todas as páginas se afastarem do header*/
}
